.about-us-container {
  margin: 30px;
  padding: 20px;
  text-align: justify;
}

.about-us-description {
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  margin-bottom: 20px;
}